nav {
  background: #eeedde;
  padding-top: 50px !important;
}


/* !============================ banner section start ============================ */
#banner {
  background-color: #eeedde;
  padding-top: 96px;
  padding-bottom: 120px;
}
#banner .text_area h2 {
  font-size: 56px;
  color: #203239;
  font-weight: 600;
  line-height: 150%;
}
#banner .text_area p {
  font-size: 16px;
  line-height: 30px;
  color: rgba(32, 50, 57, 0.55);
  width: 540px;
  margin-top: 24px;
}
#banner .text_area input {
  width: 508px;
  height: 70px;
  border-radius: 15px;
  border: none;
  padding-left: 56px;
}
#banner .text_area input::placeholder {
  font-size: 16px;
  font-weight: 300;
  color: rgba(32, 50, 57, 0.55);
  font-family: "Poppins", sans-serif;
}
#banner .bannerInputBox {
  position: relative;
  margin-top: 55px;
  display: inline-block;
}
#banner .text_area .bannerIcon {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
#banner .text_area button {
  border: none;
  background: #ffffff;
  font-size: 16;
  font-weight: 300;
  color: rgba(32, 50, 57, 0.55);
  padding: 25px 37px 25px 20px;
  border-radius: 15px;
  display: inline-block;
  margin-left: 15px;
}

/* !============================ properti section start ============================ */
#properti {
  padding: 100px 0;
}
#properti h2 {
  font-size: 36px;
  color: #203239;
  font-weight: 600;
  line-height: 150%;
  width: 533px;
  margin-bottom: 64px;
}
.properti_item {
  width: 300px;
  height: 286px;
  padding: 20px 33px;
  position: relative;
  transition: 0.5s;
}
.properti_item:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.properti_item h3 {
  font-size: 16px;
  font-weight: 500;
  color: #203239;
  margin-bottom: 8px;
}
.properti_item p {
  font-size: 16px;
  font-weight: 300;
  color: rgba(32, 50, 57);
  width: 232px;
  line-height: 30px;
  margin-bottom: 50px;
}
.properti_item a {
  font-size: 16px;
  font-weight: 500;
  color: #203239;
  text-decoration: none;
}
.properti_item a .arrow {
  margin-left: 8px;
}
.propertiSubWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.propertiSubWrapper h4 {
  font-size: 16px;
  font-weight: 500;
  color: #ff7527;
}
.propertiSubWrapper::after {
  content: "";
  width: 8px;
  height: 30px;
  background: #ff7527;
  top: 17px;
  left: 0;
  position: absolute;
  border-radius: 5px;
}
/* !============================ properti section start ============================ */

/* !============================ residen section start ============================ */
#residen {
  background: #eeedde;
  padding-top: 67px;
  padding-bottom: 163px;
}
#residen .title h4 {
  font-size: 16px;
  font-weight: 500;
  color: #ff7527;
}
#residen .title {
  margin-bottom: 64px;
}
#residen .title h2 {
  font-size: 36px;
  font-weight: 600;
  color: #203239;
  line-height: 150%;
}
.residen_image {
  position: relative;
}
.residen_wrapper {
  display: flex;
}
.residen_textarea h2 {
  font-size: 36px;
  font-weight: 600;
  color: #203239;
  line-height: 150%;
  width: 507px;
  margin-bottom: 24px;
}
.residen_textarea p {
  font-size: 16px;
  font-weight: 300;
  color: #203239;
  line-height: 30px;
  margin-bottom: 48px;
}
.residen_textarea a {
  font-size: 16px;
  font-weight: 600;
  color: #203239;
  border: 1px solid #203239;
  text-decoration: none;
  padding: 13px 41px;
  border-radius: 10px;
  display: inline-block;
}
.residen_textarea a:hover {
  background: #203239;
  color: #fff;
}
.residenbtnIcon {
  margin-right: 12px;
}
.residen_textarea a:last-child {
  margin-left: 48px;
}
.residen_image img:last-child {
  position: absolute;
  top: 60px;
  left: 167px;
}
/* !============================ residen section end ============================ */

/* !============================ kota section start ============================ */
#kota {
  padding: 68px 0;
}
.kota_title h4 {
  font-size: 16px;
  font-weight: 500;
  color: #ff7527;
  margin-bottom: 8px;
}
.kota_title h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 150%;
  color: #203239;
  margin-bottom: 64px;
}
.kota_items img {
  margin-bottom: 16px;
  transition: 0.5s;
}
.kota_items:hover img {
  border-radius: 10px;
}
.kota_items h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  color: #203239;
  margin-bottom: 8px;
}
.kota_items p {
  font-size: 16px;
  font-weight: 300;
  color: #203239;
  line-height: 30px;
  width: 356px;
}
/* !============================ kota section end ============================ */

#footer_top {
  background: #eeedde;
  padding: 48px 0;
}
.footer_top_title h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 150%;
  color: #203239;
  margin-bottom: 74px;
}
.contact_info h4 {
  font-size: 16px;
  font-weight: 500;
  color: #203239;
  margin-bottom: 8px;
}
.contact_info p {
  font-size: 16px;
  font-weight: 400;
  color: #203239;
  margin-bottom: 8px;
}
.contact_info a {
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 10px 17px;
  background: #203239;
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 27px;
  margin-left: -15px;
}
.contact {
  display: flex;
  width: 274px;
  height: 167px;
  background: #fff;
  border-radius: 10px;
  padding: 14px 41px;
  box-sizing: border-box;
  gap: 24px;
  margin-right: 24px;
}
.footer_top_left {
  display: flex;
}

.footer_top_right {
  text-align: center;
}
.footer_top_right h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: 150%;
  color: #203239;
  margin-bottom: 69px;
}
